/* Main container styling */
.userTable {
    width: 60%;
    background-color: white;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin: 50px auto;
    padding: 30px;
    overflow-x: auto;
  }
  
  .userTable h3 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
  }
  
  /* Add User button styling */
  .addButton {
    display: inline-block;
    text-decoration: none;
    background-color: purple;
    color: white;
    font-weight: 500;
    border-radius: 5px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.1);
    padding: 10px 15px;
    margin-bottom: 20px;
  }
  
  /* Table styling with borders */
  .userTable table {
    width: 100%;
    border-collapse: collapse; 
  }
  
  .userTable table th,
  .userTable table td {
    padding: 12px;
    text-align: center;
    border: 1px solid #ddd;
  }
  
  .userTable table thead th {
    background-color: darkblue;
    color: white;
    border-bottom: 2px solid #444; 
  }
  
  .userTable table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  /* Action buttons */
  .actionsButton button {
    border: none;
    background-color: red;
    color: white;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 5px;
    transition: background-color 0.3s ease;
  }
  
  .actionsButton button:hover {
    background-color: darkred;
  }
  
  .actionsButton a {
    display: inline-block;
    background-color: green;
    color: white;
    padding: 8px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  .actionsButton a:hover {
    background-color: darkgreen;
  }

  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 10px;
  }
  
  .pagination button {
    padding: 8px 12px;
    font-size: 14px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .pagination button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .pagination span {
    font-size: 14px;
    color: #333;
  }
  
  
 
  @media (max-width: 768px) {
    .userTable {
      width: 90%;
      padding: 20px;
    }
  
    .addButton {
      padding: 8px;
      font-size: 14px;
    }
  
    .userTable table th,
    .userTable table td {
      padding: 10px;
      font-size: 14px;
    }
  }
  
  
  @media (max-width: 480px) {
    .userTable {
      width: 100%;
      padding: 15px;
      margin: 20px auto;
    }
  
    .addButton {
      font-size: 12px;
      padding: 6px;
    }
  
    .userTable table th,
    .userTable table td {
      padding: 8px;
      font-size: 12px;
    }
  

    .actionsButton {
      display: flex;
      flex-direction: row;
      gap: 5px;
      justify-content: center;
    }
  
    .actionsButton button,
    .actionsButton a {
      padding: 6px;
      font-size: 12px;
    }
  }
  